{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"parser": "@babel/eslint-parser",
	"root": true,
	"parserOptions": {
		"ecmaVersion": "latest"
	},
	"extends": [
		"eslint:recommended",
		"prettier"
	],
	"rules": {
		"no-alert": "warn",
		"no-console": "warn"
	}
}