{
    "semi": true,
    "tabWidth": 4,
    "useTabs": true,
    "trailingComma": "all",
    "printWidth": 80,
    "singleQuote": true,
    "bracketSameLine": false,
    "endOfLine": "auto",
    "bracketSpacing": true
}