@import url("/styles/style.css");

.projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: min(15.625vw, 300px);
}

section {
    padding: var(--border-radius-medium);
    margin-bottom: 5%;
}

figure img{
    border-radius: var(--border-radius-medium);
}

.white-box {
    background-color: var(--grey-l1);
}