@import url("/styles/style.css");

.projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: min(15.625vw, 300px);
}

.section-like {
    padding: var(--border-radius-medium);
    margin-bottom: min(2.08vw, 40px);
    transition: all 0.3s ease;
}

.project-figure img{
    border-radius: var(--border-radius-medium);
}

.section-like:hover {
    box-shadow:
    min(0.052vw, 1px) min(0.052vw, 1px) #17161844,
    min(0.1vw, 2px) min(0.1vw, 2px) #17161844,
    min(0.16vw, 3px) min(0.16vw, 3px) #17161844,
    min(0.21vw, 4px) min(0.21vw, 4px) #17161844,
    min(0.26vw, 5px) min(0.26vw, 5px) #17161844,
    min(0.31vw, 6px) min(0.31vw, 6px) #17161844,
    min(0.36vw, 7px) min(0.36vw, 7px) #17161844;
    transform: translate(min(-0.36vw, -7px), min(-0.36vw, -7px));
}

.section-like:nth-of-type(odd) {
    background-color: var(--grey-l1);
}