@import url("@styles/style.css");

/*  Upload */
.upload {
  padding: 0;
  overflow: hidden;

  border-radius: var(--border-radius-medium) var(--border-radius-medium) var(--border-radius-medium) var(--border-radius-high);
}

.upload-title {
  display: flex;

  --padding-vertical: min(1vw, 19.2px);
  padding: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);

  background-color: var(--grey-l2);
}

.upload-title h2 {
  margin: 0;
}

#resume-form {
  display: flex;
  align-items: center;
}

#resume-form>:nth-child(n) {
  width: 50%;

  text-align: center;
}

#resume-input {
  display: none;
}

#resume-form .alt-upload figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min(3.65vw, 70px);

  padding: min(1.56vw, 30px) 0;
}

.alt-upload .upload-text {
  width: fit-content;
  margin-left: min(0.78vw, 15px);

  color: var(--text-color-pink);

  text-decoration: underline;
}


/*  Console */

.console {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;

  border-radius: var(--border-radius-high) var(--border-radius-medium) var(--border-radius-medium) var(--border-radius-medium);
}

#console {
  height: min(17.97vw, 345px);
  padding: var(--section-padding);
  overflow-y: auto;

  color: var(--text-color-black);

  background-color: var(--grey-l2);

  resize: none;
}

#console-status {

  height: min(14.06vw, 270px);
  padding: var(--section-padding);
  overflow-y: auto;

  color: var(--text-color-green);

  background-color: var(--grey-l0);
}