@import url("/styles/style.css");

.content {
    margin-top: -4.5vw;
}

.content-box {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 15.75vw;
    margin-top: 2.25vw;
}

.content-img {
    border-radius: 1.3vw;
    box-shadow: 0px var(--vw4px) 25px var(--black);

    width: min(15.75vw, 300px);
    height: min(15.75vw, 300px);
}

.txt-box {
    color: var(--pink);
    background-color: var(--grey-l0);
    border-radius: 1.3vw;
    box-shadow: 0px var(--vw4px) 20px var(--black);
    height: 80%;
    margin: 0 2vw 0 2vw;
    overflow-y: scroll;
    padding: 1vw 1.65vw 1vw 1.65vw;
}

.txt-box::-webkit-scrollbar {
    width: 0;
}

.txt-box::-moz-scrollbar {
    width: 0;
}

.active_l{
    animation: appear 2.5s;
}

@keyframes appear{
    from{transform: translate(-6vw, 0px);}
    to{transform: translate(0px, 0px);}
}

.active_r{
    animation: appear_r 2.5s;
}

@keyframes appear_r{
    from{transform: translate(6vw, 0px);}
    to{transform: translate(0px, 0px);}
}