@import url("/styles/style.css");

:root {
    --card-translate-value: var(--content-padding);
    --card-animation-time: 2.5s;
}

.card {
    display: flex;
    justify-content: space-between;
    height: min(15.62vw, 300px);
    margin-bottom: min(2.08vw, 40px);
}

.card:last-of-type {
    margin-bottom: 0;
}

.card:nth-child(odd) {
    flex-direction: row-reverse;
}

.card-img {
    border-radius: var(--border-radius-medium);
    height: 100%;
}

.card-text {
    width: 72.58%;
}

@keyframes appear-card-l {
    from {
        transform: translate(var(--card-translate-value), 0vw);
    }
}

@keyframes appear-card-r {
    from {
        transform: translate(calc(-1 * var(--card-translate-value)), 0vw);
    }
}

.appear-card-r {
    animation: appear-card-r var(--card-animation-time);
}

.appear-card-l {
    animation: appear-card-l var(--card-animation-time);
}