@import url("../../styles/style.css");

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:min(2.08vw, 40px) ;
    /*height: min();*/
}
.main-profile {
    background:  var(--grey-l0);
    box-shadow: var(--box-shadow-medium);
    color: var(--text-color-white);
}

.photo-profile{
    border-radius: var(--border-radius-medium);
    float:left;
    align-self: flex-start;
    min-font-size: 2vw 2vh;
    width: min(10vw, 200px);
}
.text-profile{
    font-size: 1vw;
}

.main-profile .my-project{
    clear: both;
    display: flex;
    flex-direction: row-reverse;
    /*justify-content: space-between;*/
    align-items: flex-end;
    padding-bottom: 10vh;
    height: min(4vw, 78px);
}


.main-profile .button-summary {
    clear: both;
    background:  var(--grey);
    color: var(--text-color-white);
    min-height:3vh ;
    border-radius: var(--border-radius-medium);
    align-self: flex-end;
}

.setting-profile {
    background: var(--grey-l0);
    box-shadow: var(--box-shadow-medium);
    color: var(--text-color-white);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.text-setting{
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 5vh;
    align-content: space-between;
}
.process {
    background: var(--grey-l0);
    box-shadow: var(--box-shadow-medium);
    border: 0px solid var(--grey-l2);
    color: var(--text-color-white);
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.process .scroll {
    height: 25vh;
    width: 100%;
    overflow-x:hidden;  /*для горизонтального*/
}

.process .progress-container #test-progress{
    clear: both;
    width: 100%;
    position: relative;
    border-radius: 0;
}
.description{
    font-size: 2vh;
}
.project-photo{
    height: 20vh;
    float:left;
}





/*.process .progress span{*/
/*    display: block;*/
/*    background-color: #0d99ff;*/
/*    position:relative;*/
/*    border-radius: 55px 100px 0px 55px;*/
/*}*/
.questionnaire {
    background: var(--grey-l0);
    box-shadow: var(--box-shadow-medium);
    color: var(--text-color-white);
    display: flex;
}
.quest-photo{
    height: min(4vw, 78px);
    display: flex;
    flex-wrap:wrap;
    align-content: space-between;
    flex-direction: column;
    flex-basis: 6em;
    flex-grow: initial;

}
footer{
    background-color: var(--black);
}
