@import url("/styles/style.css");

/*  Upload */
.upload {
  padding: 0;
  border-radius: var(--border-radius-medium) var(--border-radius-medium) var(--border-radius-medium) var(--border-radius-high);
  overflow: hidden;
}

.upload-title {
  display: flex;

  --padding-vertical: min(1vw, 19.2px);
  padding: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);

  background-color: var(--grey-l2);
}

.upload-title h2 {
  margin: 0;
}

#resume-form {
  display: flex;
  align-items: center;
}

#resume-form>:nth-child(n) {
  width: 50%;
  text-align: center;
}

#resume-input {
  display: none;
}

#resume-form .alt-upload figure {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: min(1.56vw, 30px) 0;
  height: min(3.65vw, 70px);
}

.alt-upload .upload-text {
  margin-left: min(0.78vw, 15px);
  width: fit-content;

  text-decoration: underline;
  color: var(--text-color-pink);
}


/*  Console */

.console {
  display: flex;
  flex-direction: column;
  padding: 0;

  border-radius: var(--border-radius-high) var(--border-radius-medium) var(--border-radius-medium) var(--border-radius-medium);
  overflow: hidden;
}

#console {
  overflow-y: auto;
  padding: var(--section-padding);
  height: min(17.97vw, 345px);
  background-color: var(--grey-l2);
  resize: none;
  color: var(--text-color-black);
}

#console-status {
  overflow-y: auto;

  height: min(14.06vw, 270px);
  padding: var(--section-padding);

  background-color: var(--grey-l0);
  color: var(--text-color-green);
}