@import url("./_constants.css");

@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

:root {
  --black: #120d14;
  --cyan: #0d99ff;
  --grey: #25252d;
  --grey-l0: #3a3a45;
  --grey-l1: #686a77;
  --grey-l2: #b7c2d4;
  --pink: #c3b1bd;

  --text-color-black: var(--black);
  --text-color-green: #4aaf48;
  --text-color-grey: #89919f;
  --text-color-pink: var(--pink);
  --text-color-white: #fff;
  --text-color-yellow: #ffc120;

  --box-shadow-medium: 0 min(0.2vw, 4px) min(0.2vw, 4px) #120d1444;
  --box-shadow-small: 0 min(0.052vw, 1px) min(0.052vw, 1px) #120d1444;
  --text-shadow: min(0.052vw, 1px) min(0.052vw, 1px) min(0.2vw, 4px)
    var(--black);

  --border-radius-high: var(--section-padding);
  --border-radius-medium: min(1.3vw, 25px);
  --border-radius-small: min(0.26vw, 5px);

  --text-active-filter: brightness(120%);
  --text-hover-filter: brightness(110%);
}
