@import url("./_null.css");
@import url("./_constants.css");
@import url("./_theme.css");
@import url("./_layout.css");
@import url("./_form.css");
@import url("./_media.css");

/* Anchor */
.anchor {
  scroll-margin-top: var(--header-height);
}

/* Headers / lists / p */
h1,
h2 {
  font-size: 1.5em;
}

h1 {
  margin-bottom: var(--section-bottom-margin);
}

h2 {
  margin-bottom: min(1.04vw, 20px);
}

h3 {
  margin-bottom: min(0.52vw, 10px);
}

section ol {
  list-style-type: decimal;
}

section ol ol {
  list-style-type: lower-alpha;
}

section li {
  margin-left: var(--content-par-indent);
}

p {
  text-indent: min(2.6vw, 50px);
}

/* Elements hover / active */
.clicable:not(:disabled):hover {
  filter: var(--hover-filter);
}

.clicable:not(:disabled):active {
  filter: var(--active-filter);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey);
}

::-webkit-scrollbar-track-piece {
  background-color: var(--black);
}