@import url("./_null.css");
@import url("./_theme.css");
@import url("./_constants.css");
@import url("./_media.css");

/* Wrapper w1920px  */
.wrapper {
  display: flex;
  flex-direction: column;

  margin: auto;
  max-width: var(--wrapper-max-width);
  min-height: 100vh;

  background-color: var(--black);
  font-family: var(--default-font-family);
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--wrapper-max-width);
  height: var(--header-height);

  box-shadow: var(--box-shadow-medium);
  background-color: inherit;
  color: var(--text-color-white);
}

.logo-wrapper {
  margin-left: 1.04%;
  width: 13.02%;
  height: 70.91%;
}

.logo-wrapper figure {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-icon {
  border-radius: var(--border-radius-medium);
  margin-right: 3.79%;
}

.logo-wrapper .logo-text {
  display: flex;
  width: min-content;
  border-top: 0.1vw solid var(--grey-l1);
  border-bottom: 0.1vw solid var(--grey-l1);
  font-family: "Aleo", sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  line-height: 1.3em;
  color: var(--text-color-grey);
}

nav {
  width: 51.61%;
  height: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;

  height: 100%;

  font-family: sans-serif;
  font-size: var(--header-font-size);
}

.nav-btn,
.nav-btn a {
  display: flex;
  flex-grow: 1;
}

.nav-btn a {
  justify-content: center;
  align-items: center;
}

.nav-btn.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn.profile a {
  flex-grow: 0;
  padding: 5.72%;
  border-radius: var(--border-radius-medium);
  background-color: var(--cyan);
}

/* Main w1440px */
main {
  flex-grow: 1;
  display: flex;
}

main:before,
main:after {
  content: "";
  flex-grow: 1;
  display: flex;

  background: url("/src/images/main_background.png");
  background-size: var(--main-background-size);
  filter: var(--main-background-filter);
}

main:after {
  background-position-x: var(--main-background-pos-x);
}

/* Content w1240px  */
.content {
  padding: var(--content-padding);
  width: var(--content-width);

  background-color: var(--grey);
  font-size: var(--content-font-size);
}

.content p {
  text-indent: var(--content-par-indent);
}

h1,
h2 {
  font-size: 1.5em;
  color: var(--text-color-white);
}

/* Footer */
footer {
  height: var(--footer-height);
}

/* Elements hover / active */
.clicable {
  position: relative;
}

.clicable:hover:before,
.clicable:active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: #fff;
  opacity: 0.1;
  border-radius: inherit;
}

.clicable:active:before {
  opacity: 0.15;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey);
}

::-webkit-scrollbar-track-piece {
  background-color: var(--black);
}
