@import url(./null.css);
@import url(./colors.css);
@import url(./fonts.css);

body {
    margin: 0;
}

.wrapper {
    max-width: 1920px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #151018;
    max-height: 7.03vw;
}

/* 1012px */
nav {
    width: 52.71%;
    min-height: 100%;
}

nav ul {
    display: flex;
    min-height: 100%;
    background-color: red;
}

nav .nav-button {
    background-color: white;
    align-content: center;
    padding: 0 2.96%;
}

nav .profile {
    display: block;
    padding: 0;
    width: 18.33%;
    background-color: green;
}

.logo-pic {
    width: 95px;
    border-radius: 25px;
} /* Deprecated */

.logo-text {
    width: 100px;
} /* Deprecated */

/* Should be transformed to: */

.logo {
    width: 195;
}

.site-navigation {
    color: white;
    padding: 3vw;
    display: inline-block;
    float: right;
}

.log-in {
    height: 2vh;
    width: 4vw;
    position: relative;
    top: 0vh;
    border-radius: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 115px;
    height: 45px;
    left: 1750px;
    top: 47px;
    background: #0D99FF;
    border-radius: 45.36px;
    text: #FFFFFF;
    font-size: 20px;
}

/* Body config */

.instruction {
    background-color: gray;
    color: white;
    width: 900px;
    height: 400px;
    border-radius: 35px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 20vh;
    font-family: 'JetBrains Mono'
}

h1 {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

/*
.photo-for-news {
    height: 0.1vh;
    width: 0.75 height;
}*/

/* MOVE FOOTER TO THE END */

footer {
    width: 100%;
    left: 0;
    top: 100%;
    background-color: black;
    flex: 0 0 auto;
    z-index: 9999999;
    margin-top: auto;
    height: 100px;
    flex: 0 0 auto;
}

/****************************************************************************/
/******************************* mini-console *******************************/

/* *************************** upper console part ************************* */

#mini-console-upper {
    width: 1518.89px;
    height: 347px;
    left: 171px;
    top: 1253px;
}

#mini-console-upper #prompt {
    font-weight: bold;
}

#mini-console-upper #prompt-input {
    color: var(--text-color-yellow);
    border: 0.5px solid #000000;
}

#mini-console-upper #want-continue {
    color: var(--text-color-grey);
}

/* texmplate to add the border: diff. brows. */

c {
    background: var(--semi-dark); /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    -moz-border-radius: 5px; /* Для Firefox 3 */
    -webkit-border-radius: 5px; /* Для Safari 4 и Chrome */
    border-radius: 5px; /* Для современных браузеров */
}

/* ************************** middle console part ************************** */

#mini-console-middle #console-middle {
    width: 1468.87px;
    height: 347px;
    left: 221.13px;
    top: 1600px;
}

#mini-console-middle #status-label {
    width: 1130.67px;
    height: 159px;
    left: 305.18px;
    top: 1600px;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;

    color: #4AAF48;
}

.tests-results-block {
    text: #ff0000;
}

/* ************************** lower console part *************************** */

#mini-console-lower {
    width: 1468.87px;
    height: 71px;
    left: 221.13px;
    top: 1876px;
}

/* upper part rectangle */

#mini-console-lower #end-of-begin {
    width: 506.33px;
    height: 47px;
    left: 964.09px;
    top: 1888px;

    background: #B7C2D4;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.23);
}

/*************************************************************************/
/********************************* Other *********************************/

#block-for-download {
    height: 10vh;
    width: 20vw;
    border-radius: 0px 0px 15px 60px;
    background-color: #686A77;
}

#header-for-block-download {
    height: 2vh;
    width: 20vw;
    background-color: #B7C2D4;
    border-radius: 0px 10px 0px 0px;
}

.mini-console {
    background-color: #B7C2D4;
    width: 50em;
    height: 25em;
    border-radius: 0 10px 0 0;
}

.page {
    flex: 1 0 auto;
}