@import url("/styles/style.css");

.stages {
    width: min(12vw, 230px);
    padding: min(0.26vw, 5px) 0;
    font-size: 0.75em;
}

.content {
    display: flex;
}

.content img {
    border-radius: var(--border-radius-medium);
    width: min(15.625vw, 250px);
    height: min(10.41vw, 200px);
    margin-bottom: min(2.08vw, 40px);
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-right: min(2.08vw, 40px);
}

.stage {
    margin: min(0.52vw, 10px) min(0.52vw, 10px) min(0.52vw, 10px) min(1.04vw, 20px);
}

h2, h3 , p {
    margin-bottom: min(2.08vw, 40px);
}