@import url("../../styles/style.css");
.study-description1 {
    width: min(59vw, 1067px);
}
.study-news {
    display: flex;
    text-align: center;
    flex-direction: row;
    width: min(61vw, 1167px);
    margin: 4vh 0 0vh 0;
}
.study-link {
    color:var(--text-color-pink);
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:min(2.08vw, 40px) ;
    display: block;
    flex-direction: row;
    flex-content: space-between;
    /*height: min();*/
}
.photo-profile {
    border-radius: var(--border-radius-high);
    width: min(12vw, 232px);
    height: min(12vw, 232px);
    display: flex;
    padding: 2vw;
}

.link-study-page {
    font-size: 2vw;
}
